@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter Tight", sans-serif;
    background: var(--bg-body);
}

:root {
    --color-ternary: #6b6b6b;
    --bg-ternary: #f7f6f1;
    --bg-body: #fafaf7;
    --color-secondary: #ff5a1f;
    --border-bg: #28292b;
}

.color-ternary {
    color: var(--color-ternary);
}

.bg-ternary {
    color: var(--bg-ternary);
}

.nav-link-item-hover {
    transition: 0.1s all ease-in-out;
}
.nav-link-item-hover:hover {
    transform: translateY(-3px);
    /* border-color: #000000; */
    cursor: pointer;

    box-shadow:
        0 1px 3px 0 rgb(0 0 0 / 0.1),
        0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.hover-bg-ternary:hover {
    background-color: #f7f6f1;
    /* background-color: #489af8; */
}

.active-link {
    /* color:rgb(182, 5, 5) */
    border-radius: 9999px;
    background: rgb(255, 255, 255);
    color: #000000;
}
.nav-link {
    padding: 8px 16px;
    transition: 0.1s all ease-in-out;
}
.nav-link:hover {
    color: #000000;
}

.color-secondary {
    color: var(--color-secondary);
}
.bg-secondary {
    background-color: var(--color-secondary);
}
.bg-border {
    border-color: var(--border-bg);
}

.circle {
    /* top: 140px;
    left: 170px; */
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: absolute;
    display: block;
    /* background-color: var(--color-secondary); */
}

.backdrop-blur-60 {
    backdrop-filter: blur(60px);
}

.grid-bg-layout {
    background-size: 30px 30px;
    background-image: linear-gradient(to right, #cccccc12 1px, transparent 1px), linear-gradient(to bottom, #cccccc12 1px, transparent 1px);
}

.hero-container {
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
#wide-nav,
#wide-nav-link {
    display: none;
}
#mob-nav{
    inset: 0;
    padding-top: 64px;
}

#mob-nav-ham {
    display: block;
}

@media (min-width: 768px) {
    .hero-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 833px) {
    #wide-nav,
    #wide-nav-link {
        display: flex;
    }

    #mob-nav-ham {
        display: none;
    }
}
