@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter Tight", sans-serif;
    background: var(--bg-body);
}
a,
button {
    cursor: pointer;
}
:root {
    --color-ternary: #6b6b6b;
    --bg-ternary: #f7f6f1;
    --bg-body: #fafaf7;
    --color-secondary: #ff5a1f;
    --border-bg: #28292b;
    --border-gray: #e1e1e2;
}

.border-gray {
    border: 1px solid var(--border-gray);
}
.border-t-gray {
    border-top: 1px solid var(--border-gray);
}
.border-b-gray {
    border-bottom: 1px solid #d8d6cf;
}

.border-l-gray {
    border-left: 2px dashed black;
}
.color-ternary {
    color: var(--color-ternary);
}
.color-secondary {
    color: var(--color-secondary);
}

.bg-ternary {
    color: var(--bg-ternary);
}
.bgcolor-ternary {
    background-color: var(--bg-ternary);
}
.bgcolor-secondary {
    background-color: var(--color-secondary);
}
.bg-disabled {
    background-color: var(--color-ternary);
}

.nav-link-item-hover {
    transition: 0.1s all ease-in-out;
}
.nav-link-item-hover:hover {
    transform: translateY(-3px);
    /* border-color: #000000; */
    cursor: pointer;

    box-shadow:
        0 1px 3px 0 rgb(0 0 0 / 0.1),
        0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.hover-bg-ternary:hover {
    background-color: #f7f6f1;
    /* background-color: #489af8; */
}

.active-link {
    /* color:rgb(182, 5, 5) */
    border-radius: 9999px;
    background: rgb(255, 255, 255);
    color: #000000;
}
.nav-link {
    padding: 8px 16px;
    transition: 0.1s all ease-in-out;
}
.nav-link:hover {
    color: #000000;
}

.color-secondary {
    color: var(--color-secondary);
}
.bg-secondary {
    background-color: var(--color-secondary);
}
.bg-border {
    border-color: var(--border-bg);
}

.circle {
    /* top: 140px;
    left: 170px; */
    border-radius: 50%;
    width: 110px;
    height: 110px;
    position: absolute;
    display: block;
    /* background-color: var(--color-secondary); */
    animation: drag 5s infinite alternate;
    animation: pulse 5s infinite alternate;
}

@keyframes pulse {
    from {
        width: 110px;
        height: 110px;
    }
    to {
        width: 80px;
        height: 80px;
    }
}
@keyframes drag {
    100% {
        transform: translateX(20px);
        transform: translateY(10px);
    }
}

.delay-3 {
    animation-delay: 3s;
}

.backdrop-blur-60 {
    backdrop-filter: blur(60px);
}

.grid-bg-layout {
    background-size: 30px 30px;
    background-image: linear-gradient(to right, #cccccc12 1px, transparent 1px), linear-gradient(to bottom, #cccccc12 1px, transparent 1px);
}

.hero-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
#wide-nav,
#wide-nav-link {
    display: none;
}
#mob-nav {
    position: absolute;
    inset: 0;
    transform: translateX(100%);
    padding-top: 64px;
    transition:
        0.1s ease-in-out,
        display 0.3s allow-discrete;
    border: none;
}

#mob-nav:popover-open {
    transform: translateX(0);
}

@starting-style {
    #mob-nav:popover-open {
        transform: translateX(100%);
    }
}

#mob-nav-ham {
    display: block;
}

.head-info {
    font-size: clamp(38px, 6.5vw, 92px);
}

.head-trackcont {
    aspect-ratio: 1 / 1.05;
}
.hero-leg {
    font-size: 1.1rem;
    div {
        color: #6b6b6b;
    }
}
.customToast {
    border-radius: 6px !important;

    button {
        color: black !important;
    }
}
.toastSuccess {
    background: #d1e7dd !important;
    color: #0a3622 !important;
    border: 1px solid #a3cfbb !important;
}
.toastError {
    background: #f8d7da !important;
    color: #58151c !important;
    border: 1px solid #f1aeb5 !important;
}

.hero-count {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    div {
        border: 1px solid transparent;
    }
}

.px-12 {
    padding-inline: 2rem;
}
.page-head {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 18px;
    > div {
        /* margin-bottompx; */
        font-size: 32px;
        font-weight: 700;
    }
    > span {
        /* font-size: 0.9rem; */
        /* py-4 px-8 */
        font-size: 18px;
        a {
            padding: 10px 16px;
        }
    }
    > aside {
        transition: 0.3s ease-in-out;
    }
    > aside:hover {
        box-shadow:
            0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
}
.color-gray {
    color: #6b6b6b;
}

.index-page-grid {
    display: grid;
    margin-top: 32px;
    gap: 16px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    .card {
        padding: 32px;
        background: #ffffff;
        border-radius: 16px;
        border: 1px solid #e2e2e1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        transition: 0.3s ease-in-out;
        &:hover {
            box-shadow:
                0 10px 15px -3px rgb(0 0 0 / 0.1),
                0 4px 6px -4px rgb(0 0 0 / 0.1);
        }
        .card-img {
            border-radius: 8px;
            display: flex;
            justify-content: flex-start;
            div {
                border-radius: 8px;
            }
        }
        div:nth-child(2) {
            font-size: 20px;
            font-weight: 700;
        }
        div:nth-child(3) {
            color: #6b6b6b;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.fade {
    opacity: 0;
    transform: translateY(30px);
    transition:
        opacity 0.6s ease,
        transform 0.6s ease;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

.home-sec2-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    div {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 15px;
        div:nth-child(1) {
            width: 32px;
            height: 32px;
            padding: 14px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
            color: white;
        }
        div:nth-child(2) {
            font-weight: 600;
        }
    }
}

.footer-section-container {
    padding: 32px;
    text-align: center;
}
.footer-sec {
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
}

footer {
    padding: 32px;
}

.reg-log {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    input {
        transition: 0.2s ease-in-out;
        outline: none;
        padding: 8px 16px;
        font-size: 1rem;
        line-height: 1.5rem;
        border: 1px solid var(--border-gray);
        border-radius: 0.5rem;
    }
    /* option {
        font-size: 16px;
        border-radius: 10px;
        padding: 8px 16px;
        :picker{
            background-color: var(--color-secondary);
        }
    } */

    select {
        line-height: 40px;
        font-size: 16px;
        box-sizing: border-box;
    }

    select,
    ::picker(select) {
        appearance: base-select;
    }

    ::picker(select) {
        border: none;
        border-radius: 10px;
        background: white;
    }

    option {
        padding:0 12px;
    }

    option:checked {
        background: var(--color-secondary);
        color: white;
    }

    input:focus,
    select:focus {
        border: 1px solid rgb(94, 210, 243);
    }
    .signup-form-control {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    > div {
        width: 100%;
    }
    > div:nth-child(2) {
        height: 20rem;
    }
    .btn-switch-account {
        display: flex;
        flex-direction: column;
    }
}

.driver-sign-line,
.driver-sign-line-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    background-color: var(--color-secondary);
}
#dsign-in-form {
    input[type="file"]::file-selector-button {
        border: 0;
        padding: 10px;
        background-color: var(--bg-body);
        border-radius: 10px;
    }
}

.driver-sign-line-bg {
    width: 100%;
    background-color: rgba(180, 180, 180, 0.238);
}

.driver-sign-line {
    width: 0%;
    background-color: var(--color-secondary);
    transition: width 0.3s ease;
}

.driver-driver-btn-container{
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 700px) {
    .hero-count {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        /* div{
            border-right: 1px solid #e2e2e1;
            } */
    }
    .footer-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .reg-log {
        flex-direction: row;
        .signup-form-control {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        > div {
            width: 50%;
        }
        > div:nth-child(2) {
            height: 55rem;
        }
        .btn-switch-account {
            flex-direction: row;
        }
    }

}

@media (min-width: 983px) {
    .footer-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .hero-count {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        div {
            border-right: 1px solid #e2e2e1;
        }
    }
    .footer-section-container {
        padding: 50px;
        .footer-sec {
            flex-direction: row;
        }
    }
    .px-12 {
        padding-inline: 4rem;
    }
    .page-head {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        span {
            margin-left: auto;
        }
        h3 {
            font-size: 64px;
        }
    }

    #wide-nav,
    #wide-nav-link {
        display: flex;
    }

    #mob-nav-ham {
        display: none;
    }
    .hero-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    /* .head-info {
        font-size:5rem !important;
    } */

    .hero-container {
        gap: 70px;
    }
    .index-page-grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        .card {
            grid-column: span 6;
        }
        .card:nth-child(1) {
            grid-row: span 2;
        }

        .card:nth-child(4) {
            grid-column: span 12;
        }
    }
        .driver-driver-btn-container{
    display: flex;
    flex-direction: row;
}
}

@media (min-width: 1280px) {
    /* .head-info {
        font-size: 6rem !important;
    } */
}
